{
  "extends": "react-app",
  "globals": {
    "Types": true
  },
  "overrides": [
    {
      "files": ["*"],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off"
      }
    }
  ]
}
